<ul class="nav__list">

     <li class="nav__item"
         ng-repeat="parent in appModulesTree"
         ng-class="{'nav__item--active': parent==selectedMainModule, 'nav__item--open': expandMainModule}"
         ng-click="onMainModuleClick(parent, $event)">
         <div class="nav__head">
             <div class="nav__drop-toggle" ng-if="hasSubmodules(parent)"></div>
             <i class="nav__icon">
                 <!--
                       Интересный нюанс по поводу загрузки иконок и картинок с сервера.
                       При загрузке щаблона происходит обработка атрибута src, но модель данных
                       в этот момент еще не доступна, поэтому в консли вывалится ошибка 404.
                       Для того чтобы это не происходило нужно использовать ng-src.
                       Эта директива загружает картинку когда модель становится доступной.
                  -->
                 <img ng-src="{{parent.icon}}">
             </i>
             <a class="nav__label">{{parent.name}}</a>
         </div>

         <div class="nav__body" ng-if="expandMainModule">
             <ul class="subnav">

                 <li class="subnav__item"
                     ng-repeat="child in parent.subModules"
                     ng-class="{'subnav__item--active': child==selectedSubModule}"
                     ng-click="onSubModuleClick(child, $event)">
                     <i class="nav__icon">
                         <img ng-src="{{child.icon}}">
                     </i>
                     <a class="subnav__label">{{child.name}}</a>
                 </li>

             </ul>
         </div>

     </li>

 </ul>