<div layout="row"
     layout-wrap
     style="background-color:plum;"
     layout-fill
     ng-controller="homeController">

    <div flex="grow"style="background-color:red;height: 8%">
        [flex="grow"]
    </div>
    <div flex="20" style="background-color:blue;height: 84%">
        [flex="15"]
    </div>
    <div flex="80" style="background-color:green;height: 84%">
        [flex="85"]
    </div>
    <div flex="grow"style="background-color:orange;height: 8%">
        [flex="grow"]
    </div>

</div>