<div id="homePageContainer" ng-controller="homeController" layout="row" layout-wrap>

    <div class="md-toolbar">
        <header-bar></header-bar>
    </div>

    <div flex layout="row">
        <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
            <side-bar></side-bar>
        </md-sidenav>

        <div layout="column" flex>
            <div class="box1">70</div>
            <div class="box2">Fixed</div>
            <div class="box3">Flex</div>
        </div>

    </div>


    <!-- <status-bar></status-bar> -->
</div>