<div class="page">

    <div class="page__head">
        <header-bar></header-bar>
    </div>

    <div class="page__body">

        <!-- Боковая панель. Обычно под навигацию -->
        <div class="page__side">
            <side-bar></side-bar>
        </div>

        <!-- Основная содержательная часть страницы -->
        <main class="page__main">
            <user-grid class="fill-height"></user-grid>
        </main>

    </div>

    <!-- Футер страницы -->
    <footer-bar></footer-bar>

</div>