div {
    //border: 2px solid darkblue;
}

.header {
    background-color:red;
    height: 10%;
}

.side-panel {
    background-color:blue;
    height: 87%;
}

.content-panel {
    background-color:green;
    height: 87%;
}

.footer {
    background-color:orange;
    height: 3%;
}

.user-avatar {
    border-radius: 99%;
}

md-content.md-default-theme {
    background-color: gray;
}

md-card {
    background-color: #fff;
}

h2 {
    font-weight: 400;
}

h2:first-of-type {
    margin-top: 0;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom:last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}
md-sidenav {
    fill: #737373;
}

ng-md-icon {
    position: relative;
    top: 5px;
}